<nav role="toolbar" class="nav-border">
  <div class="title large-screen">Chordsheet Editor</div>
  <ul>
    <li><a href="#" (click)="togglePreviewPane()" title="Toggle preview"><span class="large-screen">Preview</span><span class="small-screen">{{ editItemText }}</span></a></li>
    <li><a href="#" (click)="savePdf()" title="Download PDF">Download PDF</a></li>
    <li class="large-screen"><a href="https://github.com/gldraphael/chordsheet-editor" title="GitHub project" target="_blank">Github</a></li>
  </ul>
</nav>
