.cs-preview {
  width: 100%;
  height: 100%;
  padding: 4vw;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 19px
}

.cs-preview h1.cs-preview-title {
  margin-top: 0;
  font-weight:700;
  font-family: sans-serif;
  font-size: 32px
}

.cs-preview-content {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
