.cs-preview {
  width: 100%;
  height: 100%;
  padding: 4vw;
  font-family: Georgia, 'Times New Roman', Times, serif
}

.cs-preview h1.cs-preview-title {
  margin-top: 0;
  font-weight:700;
  font-family: sans-serif
}

.cs-preview .cs-preview-content {
  line-height: 2em
}
