/* You can add global styles to this file, and also import other style files */
body {
  margin: 0
}

.CodeMirror {
  height: auto;
}

.CodeMirror-code .CodeMirror-line {
  color: #404d54;
  font-family: Consolas,monaco,monospace;
  font-size: 1.3rem;
  padding: 0;
}

/* The chord chord font */
@font-face {
  font-family: 'ChordFont';
  src: url('/assets/fonts/chordfont/MuseJazz.eot?#iefix') format('embedded-opentype'),  url('/assets/fonts/chordfont/MuseJazz.woff') format('woff'), url('/assets/fonts/chordfont/MuseJazz.ttf')  format('truetype'), url('/assets/fonts/chordfont/MuseJazz.svg#MuseJazz') format('svg');
  font-weight: normal;
  font-style: normal;
}

/**
Position the chords correctly.
This cannot go in the component styles because the
HTML for the chords is not rendered by Angular.
*/
.chord {
  position: absolute;
  font-family: ChordFont;
  font-weight: normal !important;
  font-style: normal !important;
}
.chord .inner {
  position: relative;
  top: -1em; /* The container will need to have a line-height of approx 2em for this to work */
}
